.session {
  height: 100%;
  display: flex;
  flex-direction: column;

  &-top,
  &-bottom {
    position: relative;
    height: 90px;
  }

  &-top {
    background-color: #111;
  }

  &-bottom {
    background-color: #111;
  }

  &-middle {
    position: relative;
    display: flex;
    flex-grow: 1;
  }

  &-left {
    flex-grow: 1;
    position: relative;
    width: 1600px;
    background-color: transparent;
  }

  &-right {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 320px;
    height: 100%;

    &_top {
      position: relative;
      height: 240px;
      background-image: url("../img/cam1.png");
      background-size: 100% 100%;

      &-transparent{
        opacity: 0;
      }
    }

    &_bottom {
      flex-grow: 1;
      position: relative;
      background-color: #111;
    }
  }
}
