.session {
  &-top,
  &-bottom {
    position: relative;
    height: 90px;
  }

  &-top {
    background-color: black;
  }

  &-bottom {
    background-color: black;
  }

  &-middle {
    position: relative;
    height: 900px;
    display: flex;
  }

  &-left {
    position: relative;
    width: 1600px;
    height: 900px;
    background-color: transparent;
  }

  &-right {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 320px;
    height: 900px;

    &_top {
      position: relative;
      height: 270px;
      background-image: url("/img/cam1.png");
      background-size: contain;
    }

    &_bottom {
      flex-grow: 1;
      position: relative;
      background-color: #111;
    }
  }
}
